$base-color: white;
$main-color: black;
$accent-color: #BA8747;
$accent-color_translucent: #BA874750;

$old_style: Le Monde Journal Std;
$sans-serif: Pelago;
$script: Bickham Script Pro 3;
$jp-text: Kozuka Mincho Pro;

$right_end: 13px;