$base-color: white;
$main-color: black;
$accent-color: #BA874733;

// $old_style_italic: italic normal normal 20px/24px Le Monde Journal Std;
// $sans-serif: normal normal 600 12px/16px Pelago;

$old_style: Le Monde Journal Std;
$sans-serif: Pelago;