@import 'mixin.scss';

.equipment {
    ul {
        display: flex;
        justify-content: flex-end;
        margin: 10px $right_end 5px 0px;

        li {
            border: 1px solid $main-color;
            padding: 3px;
            border-radius: 4px;
            margin-left: 5px;
        }
    }
}