@import 'mixin.scss';

.studio {
    
    .img-list {
        margin: 10px $right_end 0px $right_end;

        img {
            width: 100%;
            height: auto;
        }

        .first {
            margin-bottom: 2px;
        }

        div {
            display: flex;
            justify-content: space-between;
        }

        .left, .right {
            width: calc(100%/2);
            height: calc(100%/2);
        }

        .left {
            padding-right: 1px;
        }
        .right {
            padding-left: 1px;
        }
    }
}